/**
 * Copyright 2016 Kenneth Vermette <vermette@gmail.com>
 * Copyright 2020 Carl Schwan <carl@carlschwan.eu>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) version 3, or any
 * later version accepted by the membership of KDE e.V. (or its
 * successor approved by the membership of KDE e.V.), which shall
 * act as a proxy defined in Section 6 of version 3 of the license.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 */

.KLayout {
	padding: 1px 0px;
	font-family: 'Noto Sans', sans-serif;
}

.KLayout section {
	padding: 0px;
	margin: 20px 0px;
}

.KLayout section > img {
	display: block;
	max-width: 100%;
	margin: 10px auto;
}

.KLayout section img.splashImage {
	display: block;
	max-width: 100%;
	margin: 10px auto;
	padding: 0px 20px;
	box-sizing: border-box;
}

.KLayout section article {
	width: 100%;
	display: block;
	max-width: 1000px;
	margin: 0px auto;
	border-left: solid 3px rgba(0,0,0,.05);
	border-right: solid 3px rgba(0,0,0,.05);
	box-sizing: border-box;
	padding: 20px;
}

.KLayout section article h1 {
	font-weight: normal;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
}

.KLayout section article h2 {
	font-weight: bold;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
}

.KLayout section article h3 {
	font-weight: normal;
	line-height: 120%;
	text-align: center;
	margin: 20px auto;
}

.KLayout section article * + h1,
.KLayout section article *:not(h1) + h2,
.KLayout section article *:not(h1):not(h2) + h3,
.KLayout section article *:not(h1):not(h2):not(h3) + h4,
.KLayout section article *:not(h1):not(h2):not(h3):not(h4) + h5 {
	margin-top: 40px;
}

.KLayout sup.tag {
	padding: 0px 4px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 100%;
	font-size: 10px;
	font-weight: normal;
	vertical-align: top;
	position: relative;
	top: -.2em;
	margin-left: 2px;
}

.KLayout section article > * {
	display: block;
	box-sizing: border-box;
	margin: 10px auto;
	max-width: 600px;
	text-align: left;
	line-height: 160%;
}

.KLayout section article > small {
	background-color: #eff0f1;
	color: #95a5a6;
	font-size: 10px;
	padding: 5px 10px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 150%;
}

.KLayout section article > aside {
	background-color: #3daefd;
	color: #fafafa;
	padding: 5px 10px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.1);
	line-height: 150%;
}

.KLayout section article {
	line-height: 180%;
}

.KLayout section article nav a {
	display: inline;
	line-height: 120%;
}

.KLayout section article nav a:hover {
	text-decoration: underline;
}

.KLayout section article nav a:after {
	position: relative;
	content: ">";
	font-family: "glyph";
	vertical-align: baseline;
	top: .1em;
	padding-left: 10px;
	display: inline-block;
	text-decoration: none !important;
}

.KLayout section article nav a + a {
	margin-top: .6em;
}

.KLayout section article nav a + a:before {
	content: "\a";
	white-space: pre-wrap;
}

.KLayout section + section {
	margin-top: 20px;
}


.KLayout section.heroDisplay {
	text-shadow: 0px 0px 10px rgba(0,0,0,.6);
}

.KLayout section.heroDisplay p {
	font-size: 150%;
	line-height: 150%;
	text-align: center;
}


.KLayout section.heroDisplay article {
	border-left: none;
	border-right: none;
	background-color: transparent;
	max-width: 800px;
	padding: 100px 40px;
	margin: 0px auto;
	color: #FFF;
}


.KLayout section.heroDisplay h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 100%;
	margin: 20px auto;
	padding: 0px;
	text-align: center;
	color: #FFF;
}

.KLayout .multicolumn-2 {
	padding: 0px;
}

.KLayout .multicolumn-2 > * {
	width: 50%;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	margin: 0px;
}

.KLayout .multicolumn-2:after {
	display: block;
	position: static;
	content: "";
	clear: both;
	width: 100%;
	height: 1px;
}

.KLayout .multicolumn-2 > :nth-child(2) {
	border-left: solid 3px rgba(0,0,0,.05);
}


.KLayout figure.code {
	position: relative;
	margin: 0px;
	background-color: #4d4d4d;
	padding: 10px 10px 10px 60px;
	border-radius: 3px;
	border: solid 1px rgba(0,0,0,.2);
	color: #fcfcfc;
	white-space: nowrap;
	overflow-x: auto;
	width: 100%;
	box-sizing: border-box;
}


.KLayout figure.code:before {
	content: "#";
	font-family: "glyph";
	font-size: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.navbar {
	min-height: 70px;
}


body {
	padding: 0px;
	margin: 0px;
}

#swagIntro {
	width: 100%;
	border: none;
	background: url(/content/home/fol6.jpg);
	background-repeat: no-repeat;
	background-origin: border-box;
	background-size: cover;
	background-position: center;
	margin-top: 0;
}

#neonInstallButton {
	background-color: #27ae60;
	display: inline-block;
	color: #fcfcfc;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	border: solid 1px rgba(0,0,0,.1);
	background-clip: padding-box;
	margin: 0px auto;
	font-size: 120%;
	cursor: pointer;
	transition: all .2s;
}

#neonInstallButton:hover {
	background-color: #2ecc71;
}

#introSocial {
	display: block;
	margin-top: 20px;
	background-color: transparent;
	border: none;
	text-align: center;
}

#introSocial a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	box-sizing: border-box;
	margin: 0px 10px;
	border: solid 1px rgba(0,0,0,.1);
	background-clip: padding-box;
}

#introSocial a:after {
	line-height: 48px;
	font-size: 40px;
	text-shadow: none;
}

#homeSocialLinks {
	background-color: transparent;
	border: none;
	text-align: center;
	display: block;
	font-weight: bold;
	font-size: 120%;
}

.homeSocialLinks a {
	width: 60px;
	height: 60px;
	padding: 0px;
	line-height: 60px;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 100%;
	background-clip: padding-box;
	text-shadow: none;
	box-shadow: 0px 1px 20px rgba(0,0,0,.1);
	font-weight: normal !important;
}

.homeSocialLinks a + a {
	margin-left: 10px;
}

.homeSocialLinks a:after {
	font-size: 45px;
}

#KGlobalHeader {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 999;
}

#KGlobalHeader:after {
	content: "";
	display: block !important;
	background-size: 100% 5px;
	position: absolute;
	height: 5px;
	width: 100% !important;
	left: 0px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAFCAYAAACzSkmrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACkSURBVDiN7dExDsIwDEbh9we1soXE6eCEbJyInQNwgKgxQ9WWFrIShr7ZkewvYm/V5fbwLj8NoKTec0lGzp66ZAzJS8jQ4EKG5KLY+FIeYBAOMoRHyFC4YJwpcqVixGYWnHHG1ebs700YHxBAHWM6DqoYHxBvswvGEegbnL1q/pAqxgQB1DE2EEAdY4aABeMEHH57+n+m8/UerZfYW0qtF9hb9wI2bU03vw4M8QAAAABJRU5ErkJggg==");
}

#KGlobalHeader a {
	outline: none;
}

/* Specific Styles for Neon Header >> Can probably be removed */
.KNeonHeader {
	margin-top: -50px;
	margin-bottom: -70px;
	background-color: transparent !important;
}
.KNeonHeader:after {
	bottom: 70px;
}

/* Addition by Maurice Below. Most of the above is now obsolete */
#KNeonLogo {
	font-size:28px; 
	font-weight:normal; 
	color:#31363b;
}
@media (prefers-color-scheme: dark) {
     #KNeonLogo {
		 color: white;
	 }
}
/* Below is styling specific to the alignment of the KNeon logo relative to the Text */
img.KNeonLogo {
	margin-right:30px;
	padding-left:10px;
}
/* Added bc .Klayout section article breaks the layout */
#KNeonArticle {
width: 100%;
display: block;
max-width: 1000px;
margin: 0px auto;
box-sizing: border-box;
padding: 20px;
}

.vertical-border{
border-left: solid 3px rgba(0,0,0,.05);
border-right: solid 3px rgba(0,0,0,.05);
}

/*  Below is added to make sure the download page is not adding a 6px border */
.vertical-border:nth-child(3){
	border-left: 0px;
}

/* End ~ Specific Styles for Neon Header */

#kHeaderNav {
	padding: 0;
	margin: 0px auto;
	width: 100%;
	height: auto;
	min-height: 50px;
	max-width: 1040px;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
}

#kHeaderNav a.active {
	background-color: #54a3d8;
	color: #FFF;
}
#kHeaderNav a.active:before {
	color: #FFF;
}
#kHeaderNav a.active:hover {
	color: #FFF;
}

#kHeaderNav button {
	outline: 0;
}

#KGlobalLogo {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -999px;
	margin: 0px;
	padding: 0px !important;
	background-color: #54a3d8;
}

#KGlobalLogo:before {
	position: absolute;
	top: 0;
	left: 50%;
	width: 42px;
	margin-left: -21px;
	content: "K";
	color: white;
	font-family: "glyph";
	font-size: 32px;
	font-weight: normal;
	text-indent: 0px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	text-decoration: none !important;
}

#KGlobalLogo:hover:before {
	color: white;
}

.navbar-toggler {
	height: 50px;
}

.kSocialLinks a.shareNeon:hover {
    background-color: #24c3c1;
}
.kSocialLinks a.shareNeon::after {
    content: "N";
}

